body {
    background-color: rebeccapurple;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.psw-container {
    text-align: center;
}

label {
    font-size: 1.2rem;
}